.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s linear;
}

.modal {
  margin: 0.2rem;
  padding: 2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #eceef0;
  border-radius: 6px;

  width: 100%;
  max-width: 360px;
  min-height: 200px;

  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
}

.modal-title {
  margin-bottom: 0.2rem;
  font-weight: 600;
  font-size: 18px;
}

.overlay.animated {
  opacity: 0;
  visibility: hidden;
}

.overlay.animated.modal {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -70%);
  transition-delay: 0.2s;
}

.overlay.animated.show {
  opacity: 1;
  visibility: visible;
}

.overlay.animated.show.modal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

.icon-modal {
  align-self: flex-end;
  width: 20px;
  height: 20px;

  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  transition: color 0.2s linear;

  &:hover {
    color: #4b00ff;
  }
}

.task-wrapper {
  margin-bottom: 1rem;
}

.modal-input {
  padding: 0.5rem;
  min-width: 325px;
  width: 100%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
  }
}

.desc-wrapper {
  margin-bottom: 1rem;
}

.desc-textarea {
  padding: 0.5rem;
  min-width: 325px;
  width: 100%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  overflow: auto;
  outline: none;
  resize: none;

  &:active,
  &:hover,
  &:focus {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
  }
}

.modal-date {
  padding: 0.5rem;
  margin-bottom: 1rem;
  min-width: 115px;

  background-color: rgba(133, 136, 247, 0.5);
  color: #000;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;

  transition: background-color 0.1s linear;

  &:hover,
  &:focus {
    background-color: rgba(21, 205, 229, 0.5);
  }

  &::-webkit-calendar-picker-indicator {
    background-color: #fff;
    padding: 3px;
    cursor: pointer;
    border-radius: 6px;
  }
}

.save-change {
  padding: 0.7rem;
  align-self: flex-end;

  font-weight: 700;
  font-size: 16px;
  font-family: 'Montserrat';
  background-color: rgba(133, 136, 247, 0.5);

  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: rgba(21, 205, 229, 0.5);
  }
}
